/* Стили для страницы case (/case.html) */

.active-page{
    background: var(--case) !important;
    padding: 5px !important;
    border-radius: 50% !important;
}
.navbar .crypto:hover{
    padding: unset !important;
    border-radius: unset !important;
}
.navbar .crypto:hover{
    background: unset !important;
}