/* Стили для страницы crypto (/crypto.html) */

#crypto{
    width: 100%;
    padding: 15px;
}
.active-page{
    background: var(--crypto) !important;
    padding: 5px !important;
}
.navbar .crypto:hover{
    padding: unset !important;
    border-radius: unset !important;
    border-radius: 50% !important;
}
.navbar .crypto:hover{
    background: var(--crypto) !important;
}
#crypto .card-info {
    width: 100%;
    height: 120px;
    padding: 10px 20px;
    background: var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
}
@media screen and (min-width: 991px){
    #crypto .crypto span.balance-value{
        font-size: 20px !important;
    }
}
#crypto > .card-row-2{
    width: 100%;
}
#crypto .card-row-2 .card-info{
    height: 400px !important;
    cursor: unset !important;
}
.coins-list div:not(:last-child){
    border-bottom: 1px solid var(--light-grey);
    margin-bottom: 10px; padding-bottom: 10px;
}
@media screen and (max-width: 991px){
    .card-info.crypto{
        height: 110px !important;
    }
}
#crypto .card-row-2 .card-info:last-child{
    margin-bottom: unset;
}
