/* Стили для страницы crypto (/crypto.html) */

.active-page{
    background: var(--crypto) !important;
    padding: 5px !important;
}
.navbar .crypto:hover{
    padding: unset !important;
    border-radius: unset !important;
    border-radius: 50% !important;
}
.navbar .crypto:hover{
    background: var(--crypto) !important;
}