/* Основные стили */

/* @import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --main-color: #1a1a1a;
    --secondary-color: #222222;
    --light-grey: #2e2e2e;
    --grey: #525252;
    --crypto: #3064b3;
    --case: #028b4c;
    --money: #ab313d;
}
::selection {
    background: #2ca9bc; /* Safari */    
}
::-moz-selection {  
    background: #2ca9bc; /* Firefox */    
}

/* tooltip */

.tooltip-m {
	text-align: center;
	transition: all 0.5s ease-in-out;
	position: relative;
}


.tooltip-m::before,
.tooltip-m::after {
	position: absolute;
	top: 50%;
	right: 150%;
	color: #f0f0f0;
	visibility: hidden;
	opacity: 0;
	transform: translateX(25px) translateY(-25px);
	transition: 0.333s;
}

.tooltip-m:hover::before,
.tooltip-m:hover::after {
	visibility: visible;
	opacity: 1;
	transform: translateX(4px) translateY(-40px);
}
.crypto-marker.tooltip-m::before{
    background: var(--crypto);
}
.case-marker.tooltip-m::before{
    background: var(--case);
}
.money-marker.tooltip-m::before{
    background: var(--money);
}
.tooltip-m::before {
	content: attr(title);
	width: fit-content;
	white-space: nowrap;
	height: auto;
	border-radius: 10px;
	display: block;
	padding: 5px 10px;
	margin-left: 30px;
}

/* tooltip */

.responsive-list{
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: var(--light-grey) var(--main-color) !important;
    scrollbar-width: thin !important;
}
.responsive-list::-webkit-scrollbar {
    background: var(--light-grey) !important;
    width: 5px;
}
.responsive-list::-webkit-scrollbar-thumb{
    background: var(--main-color) !important;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-family: "Exo 2", sans-serif !important;
    font-weight: 700;
    letter-spacing: .333px;
}
.container-fluid{
    padding: 0;
}
input:focus {outline: none;}
p{margin: 0;}
body{background: var(--main-color);color: #fff;}
a{text-decoration: none;color: #fff;}
li{list-style: none;}
.navbar{
    padding: 0;
    align-items: start;
}
.navbar > nav{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    height: 100vh;
    width: 60px;
    background: var(--secondary-color);
}
.navbar > nav > a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 50px;
    height: 50px;
    background: #2a2a2a;
    border-radius: 5px;
}
.navbar > nav > a:not(:first-child){
    padding: 6px;
    width: 45px;
    height: 45px;
}
.navbar .crypto:hover,
.navbar .money:hover,
.navbar .case:hover,
.navbar .dashboard:hover{
    padding: 5px !important;
    border-radius: 50%;
}
.navbar .crypto:hover{
    background: var(--crypto);
}
.navbar .money:hover{
    background: var(--money);
}
.navbar .case:hover{
    background: var(--case);
}
@media screen and (max-width: 360px){
    .navbar a.crypto,
    .navbar a.case,
    .navbar a.money{
        width: 45px !important;
        height: 45px
    }
}
.nav-logo{
    width: 100% !important;
    border-radius: unset !important;
    border: none !important;
    background: #272727 !important;
}
.nav-logo img{
    min-width: 40px;
    max-width: 40px;
}
.navbar a img{
    width: 30px;
}
@media screen and (max-width: 991px){
    .navbar > nav{
        flex-direction: row;
        height: 60px;
        width: 100%;
        gap: 8px;
    }
    .nav-logo{
        width: 60px !important;
        height: 100% !important;
    }
    .nav-logo img{
        width: 100% !important;
    }
    
    .content-row{
        flex-direction: column;
        width: 100%;
        height: 50px;
    }
}
@media screen and (min-width: 992px){
    .curr-convert{
        margin-top: 10px;    
    }
}
span.balance-info{
    align-items: center;
    position: relative;
}
.crypto-pnl{
    position: absolute;
    right: 0;
}
.card-info.crypto .card-header{
    align-items: center;
    position: relative;
}
.crypto-balance-increase{
    position: absolute;
    right: 0;
}
.down{
    color: var(--money)
}
.up{
    color: var(--case)
}
.up::before{
    content: "+"
}
.deposit-list span.balance-value{
    color: var(--case);
    font-size: 16px !important;
}
@media screen and (max-width: 1200px){
    .deposit-list span.balance-value{
        font-size: 14px !important;
    }
}
span.case-expenses{
    color: #797979;
    position: absolute;
    right: 0;
}
.card-info{
    position: relative;
}
.crypto-marker,
.case-marker,
.money-marker{
    width: 15px; height: 15px;
    position: absolute;
    top: 10px; right: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.crypto-marker{
    background: var(--crypto);
}
.case-marker{
    background: var(--case);
}
.money-marker{
    background: var(--money);
}
@media screen and (max-width: 340px){
    .curr-convert label{
        font-size: 12px !important;
    }
    .curr-convert{
        width: 40px
    }
    .navbar > nav > a:not(:first-child){
        width: 40px !important;
        height: 40px !important;
    }
    .navbar > nav > a:not(:last-child) > img{
        width: 100% !important;
    }
}
.navbar > nav > a.logout {
    position: absolute;
    bottom: 10px;
}
.navbar > nav > a.logout:hover{
    background: #222222;
}
@media screen and (max-width: 991px){
    .navbar > nav > a.logout {
        bottom: unset;
        left: unset;
        right: 6px !important;
        background: none;
    }
    .curr-convert {
        right: 55px;
    }
}
