/* Стили для страницы money (/money.html) */

#money{
    width: 100%;
    padding: 15px;
}
.active-page{
    background: var(--money) !important;
    padding: 5px !important;
}
.navbar .money:hover{
    padding: unset !important;
    border-radius: unset !important;
    border-radius: 50% !important;
}
.navbar .money:hover{
    background: var(--money) !important;
}
#money .card-info {
    width: 100%;
    height: 120px;
    padding: 10px 20px;
    background: var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
}
@media screen and (max-width: 991px){
    .card-info.money{
        height: 110px !important;
    }
}